<% content_for :title do %>
  <h1>Sign in</h1>
<% end %>
<% content_for :nav do %>
<% end %>

<%= form_for(:session, url: signin_path) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <%= f.submit "サインイン", class: "btn btn-success" %>
  <%= link_to "サインアップ", new_user_path, class: "btn btn-success" %>
<% end %>