<nav class="Admin">
  <h1>Users</h1>
  <div>
    <% if current_user.admin %>
      <%= button_to "Lessons", lessons_path, method: :get %>
    <% end %>
    <%= button_to "SignOut", signout_path, method: :delete %>
  </div>
</nav>
<p style="color: green"><%= notice %></p>

<div id="users">
  <table>
    <tr>
      <th>#</th>
      <th>利用者名</th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= link_to "詳細", user %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New user", new_user_path %>
