<nav>
  <h1>User / <%= @user.name %></h1>
  <%= button_to "SignOut", signout_path, method: :delete %>
</nav>

<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <% if @user == current_user || current_user[:admin] == true %>
    <%= link_to "編集", edit_user_path(@user), class: "ui inverted green button" %>
    <%= link_to "削除", @user, class: "ui inverted red button", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
  <% end %>

  <%= link_to "講座一覧へもどる", lessons_path %>
</div>
