<% content_for :title do %>
  <h1>User / <%= @user.name %></h1>
<% end %>

<% content_for :nav do %>
<% end %>

講座参加点：<%= Participant.where(participation: true, reservation:true).count %>

<%= render @user %>

<% if current_user == @user || current_user.admin %>
  <table class="table table-striped">
    <tr>
      <th>講座</th>
      <th>日程</th>
      <th>時刻</th>
      <th>講師</th>
    </tr>
    <% controller.participants.where(user_id: @user).each do |participant| %>
      <% lesson = controller.lessons.find(participant.lesson_id) %>
      <tr>
        <td><%= lesson.name %></td>
        <% if lesson.time.nil? %>
          <td></td>
          <td></td>
        <% else %>
          <td><%= lesson.time.strftime("%m月%d日") %></td>
          <td><%= lesson.time.strftime("%H時%M分") %></td>
        <% end %>
        <td><%= lesson.teacher %></td>
      </tr>
    <% end %>
  </table>
  <div class="flex">
    <%= link_to "編集", edit_user_path(@user), class: "btn btn-teal" %>
    <%= button_to "削除", @user, class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
  </div>
<% end %>
