<% content_for :title do %>
  <h1><%= @user.name %></h1>
<% end %>

<% content_for :nav do %>
<% end %>

<%= render @user %>

<% if current_user == @user || current_admin? %>
  <table class="table table-striped">
    <tr>
      <th>講座</th>
      <th>日程</th>
      <th>時刻</th>
      <th>講師</th>
    </tr>
    <% participant_all.where(user_id: @user).each do |participant| %>
      <% lesson = lesson_all.find(participant.lesson_id) %>
      <tr>
        <td><%= link_to lesson.name, lesson %></td>
        <% if lesson.time.nil? %>
          <td></td>
          <td></td>
        <% else %>
          <td><%= lesson.time.strftime("%m月%d日") %></td>
          <td><%= lesson.time.strftime("%H時%M分") %></td>
        <% end %>
        <td><%= link_to teacher_all.find(lesson.teacher_id).name, teacher_path(lesson.teacher_id) %></td>
      </tr>
    <% end %>
  </table>
  <div class="flex">
    <%= link_to "編集", edit_user_path(@user), class: "btn btn-success" %>
    <%= button_to "削除", @user, class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
  </div>
<% end %>
