<% content_for :title do %>
  <h1>User / <%= @user.name %></h1>
<% end %>

<% content_for :nav do %>
  <%= button_to "Lessons", lessons_path, method: :get, class: "btn bg-teal" %>
  <% if current_user[:admin] %>
    <%= button_to "Users", lessons_path, method: :get, class: "btn bg-teal" %>
  <% end %>
<% end %>

<%= render @user %>

<div>
  <% if current_user[:admin] %>
    <%= button_to "利用者編集", edit_user_path(@user), class: "btn bg-teal" %>
    <%= button_to "利用者削除", @user, class: "btn bg-teal", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
  <% end %>

  <%= link_to "講座一覧", lessons_path %>
</div>

<div>
  <% if current_user == @user || current_user.admin %>
    <% @participants.where(user_id: session[:user_id]).each do |participant| %>
      <%= @lessons.find(participant.lesson_id).name %>
    <% end %>
  <% end %>
</div>
