<div id="lessons">
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>DateTime</th>
      <th>Lesson</th>
      <th>Teacher</th>
      <th></th>
    </tr>
    <%# @lessons.select{ |prelesson| prelesson.time > Time.now }.each do |lesson| %>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.id %></td>
        <% if lesson.time.present? %>
          <td><%= lesson.time.strftime("%m/%d %H:%M") %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= lesson.name %></td>
        <td><%= lesson.teacher %></td>
        <td class="flex">
          <% if signed_in? %>
            <% if current_user.admin %>
              <%= link_to "講座編集", edit_lesson_path(lesson), class: "btn btn-teal" %>
            <% end %>
            <%= link_to "講座詳細", lesson, class: "btn btn-teal" %>
          <% else %>
            <%= link_to "Sign in", signin_path, class: "btn btn-teal" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="flex">
  <% if signed_in? %>
    <% if current_user.admin %>
      <%= link_to "新規作成", new_lesson_path, class: "btn btn-teal" %>
    <% end %>
  <% end %>
