<div id="lessons">
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>DateTime</th>
      <th>Lesson</th>
      <th>Teacher</th>
      <th></th>
    </tr>
    <% lesson_all.select{ |prelesson| prelesson.time > Time.now }.each do |lesson| %>
    <%# lesson_all.each do |lesson| %>
      <tr>
        <td><%= lesson.id %></td>
        <% if lesson.time.present? %>
          <td><%= lesson.time.strftime("%m/%d %H:%M") %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to lesson.name, lesson %></td>
        <td><%= link_to lesson.teacher.name, teacher_path(lesson.teacher) %></td>
        <td class="flex">
          <% if signed_in? %>
            <% if current_admin? %>
              <%= link_to "講座編集", edit_lesson_path(lesson), class: "btn btn-success" %>
            <%
=begin%>
 <% else %>
              <% if Participant.find_by(user_id: current_user.id ,lesson_id: lesson.id).nil? %>
                <%= form_with model: Participant.new do |f| %>
                  <%= f.submit "参加登録", class: "btn btn-success" %>
                <% end %>
              <% else %>
                <%= button_to '登録解除', destroy_participants_path, method: :delete, class: 'btn btn-warning' %>
              <% end %> 
<%
=end%>
            <% end %>
            <%= link_to "講座詳細", lesson, class: "btn btn-success" %>
          <% else %>
            <%= link_to "サインインしてください", signin_path, class: "btn btn-success" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="flex">
  <% if current_admin? %>
    <%= link_to "講座新規作成", new_lesson_path, class: "btn btn-success" %>
  <% end %>
