<div id="lessons">
  <table class="table table-striped">
    <tr>
      <th>日時</th>
      <th>講座</th>
      <th>講師</th>
      <th>講座詳細（申し込み）</th>
    </tr>
    <% @lesson.each do |lesson| %>
      <tr>
        <% if lesson.time.present? %>
          <td><%= lesson.time.strftime("%m/%d %H:%M") %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to lesson.name, lesson %></td>
        <td><%= link_to lesson.teacher.name, teacher_path(lesson.teacher) %></td>
        <td class="flex">
          <% if signed_in? %>
            <% if current_admin? %>
              <%= link_to "講座編集", edit_lesson_path(lesson), class: "btn btn-success" %>
            <% else %>
              <% if Participant.find_by(user_id: current_user.id ,lesson_id: lesson.id).nil? %>
                <div class="alert alert-warning">未登録</div>
              <% else %>
                <div class="alert alert-success">登録済</div>
              <% end %>
              <%= link_to "参加申込", lesson, class: "btn btn-success" %>
            <% end %>
            
          <% else %>
            <%= link_to "サインインしてください", signin_path, class: "btn btn-success" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="flex">
  <% if current_admin? %>
    <%= link_to "講座新規作成", new_lesson_path, class: "btn btn-success" %>
  <% end %>
