<nav>
  <h1>Lessons</h1>
  <div>
    <% if current_user.admin == true %>
      <%= button_to "Users", users_path, method: :get %>
    <% end %>
    <%= button_to "SignOut", signout_path, method: :delete %>
  </div>
</nav>

<p style="color: green"><%= notice %></p>

<div id="lessons">
  <% @lessons.each do |lesson| %>
    <%= render lesson %>
    <%= button_to "詳細", lesson, method: :get %>
  <% end %>
</div>

<%= button_to "新規作成", new_lesson_path, method: :get %>