<% content_for :title do %>
  <h1>New Lesson</h1>
<% end %>

<% content_for :nav do %>
<% end %>

<%= form_with(model: @lesson) do |form| %>
  <% if @lesson.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% @lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.datetime_field :time %>
  </div>

  <div>
    <%= form.label :teacher, style: "display: block" %>
    <%= form.text_field :teacher %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.submit "講座作成", class: "btn btn-teal" %>
  </div>
<% end %>