<nav>
  <% if @lesson.name.present? && @lesson.time.present? %>
    <!-- 処理A: nameとtimeがともにnilでない場合 -->
    <h1>Lesson / <%= @lesson.name %> / <%= @lesson.time.strftime("%m月%d日") %></h1>
  <% elsif @lesson.name.nil? %>
    <!-- 処理B: nameがnilの場合 -->
    <h1>Lesson / <%= @lesson.time.strftime("%m月%d日") %></h1>
  <% else %>
    <!-- 処理C: timeがnilの場合 -->
    <h1>Lesson / <%= @lesson.name %></h1>
  <% end %>
  <%= button_to "SignOut", signout_path, method: :delete %>
</nav>
<p style="color: green"><%= notice %></p>

<%= render @lesson %>

<div>
  <%= link_to "Edit this lesson", edit_lesson_path(@lesson) %> |
  <%= link_to "Back to lessons", lessons_path %>

  <%= form_with model:Participant.new do |f| %>
    <% session[:lesson_id] = params[:id] %>
    <%= f.submit "参加登録", disable_with: 'Submiting...' %>
  <% end %>
</div>

<div>
  <% @participants.where(lesson_id: session[:lesson_id]).each do |participant| %>
    <%= @users.find(participant.user_id).name %>
  <% end %>
</div>
