<nav>
  <h1>Lesson / <%= @lesson.lesson_name %> / <%= @lesson.time.strftime("%m月%d日") %></h1>
  <%= button_to "SignOut", signout_path, method: :delete %>
</nav>
<p style="color: green"><%= notice %></p>

<%= render @lesson %>

<div>
  <%= link_to "Edit this lesson", edit_lesson_path(@lesson) %> |
  <%= link_to "Back to lessons", lessons_path %>

  <%= form_with model:Participant.new do |f| %>
    <% session[:lesson_id] = params[:id] %>
    <%= f.submit "参加登録", disable_with: 'Submiting...' %>
  <% end %>
</div>

<div>
  <% @participants.where(lesson_id: session[:lesson_id]).each do |participant| %>
    <%= participant.user_id %>
  <% end %>
</div>
