<!DOCTYPE html>
<html>
  <head>
    <title>LessonSchedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= yield :title %>
      <nav>
        <%= yield :nav %>
        <% if current_user.nil? %>
          <%= button_to "Sign up", new_user_path, method: :get, class: "btn bg-teal" %>
        <% else %>
          <%= button_to "Sign out", signout_path, method: :delete, class: "btn bg-teal" %>
        <% end %>
      </nav>
    </header>
    <% if  %>
      <table>
      
      </table>
    <% end %>

    <%= yield %>
  </body>
</html>