<!DOCTYPE html>
<html>
  <head>
    <title>LessonSchedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= yield :title %>
      <nav>
        <% if current_user.nil? %>
          <%= button_to "Sign up", new_user_path, method: :get, class: "btn btn-teal" %>
        <% else %>
          <%= button_to "Lessons", lessons_path, method: :get, class: "btn btn-teal" %>
          <% if current_user.admin %>
            <%= button_to "Users", users_path, method: :get, class: "btn btn-teal" %>
          <% else %>
            <%= button_to "MyPage", user_path(current_user), method: :get, class: "btn btn-teal" %>
          <% end %>
          <%= yield :nav %>
          <%= button_to "Sign out", signout_path, method: :delete, class: "btn btn-teal" %>
        <% end %>
      </nav>
    </header>
    <% if  %>
      <table>
      
      </table>
    <% end %>

    <%= yield %>
  </body>
</html>