<!DOCTYPE html>
<html>
  <head>
    <title>LessonSchedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= yield :title %>
      <nav>
        <%= link_to "講座一覧", lessons_path, class: "btn btn-success" %>
        <% if signed_in? %>
          <% if current_admin? %>
            <%= link_to "ユーザー一覧", users_path, class: "btn btn-success" %>
          <% else %>
            <%= link_to "マイページ", user_path(current_user), class: "btn btn-success" %>
          <% end %>
          <%= yield :nav %>
          <%= button_to "サインアウト", signout_path, method: :delete, class: "btn btn-success" %>
        <% else %>
          <%= link_to "サインイン", signin_path, class: "btn btn-success" %>
        <% end %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>